/*
@name: Assignement1
@Course Code: SODV1201
@class: Software Development Diploma program.
@author: Darío Ospina Latorre
*/

body {
    font-family: 'Libre Franklin', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    background-color: #253022;
    color: #507844;
    font-size: 40px;
}

.top {
    padding: 10px 0 10px 30px;
    min-height: 150px;
}

.subtitle {
    font-size: 30px;
}

.container {
    display: flex;
    min-height: 300px;
}

aside {
    width: 30%;
    padding: 0 0 10px 30px;
}

.profilePic {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 20px 5px 10px 20px;
    border-radius: 5%;
}

.content {
    display: flex;
    width: 70%;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: #253022;
    color: #fbfce8b0;
    font-size: 20px;
}

.content p {
    margin: 30px 30px 30px 20px;
}

footer {
    line-height: 1.5;
    vertical-align:bottom;
    padding: 30px 30px 10px 30px;
    text-align: right;
    font-size: 15px;
}

.menu {
    color: #507844;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: #fbfce8b0;
    text-decoration: none;
    transition: color 1.5s;
}

.current_page {
    color: #B04F2A;
}

#textTitle, #bio {
    display: flex;
}

.MA {
    flex-wrap: wrap;
}

.MA_element{
    flex-basis: 100%;
    margin: 0;
    padding: 0; 
    border: 0;
}

h3, table, .sorting, .staff_array {
    padding: 10px 0 0 10px;
    margin: 0;
}

table {
    font-size: 15px;
}

.score {
    border: 1px solid white;
    text-align: center;
    background-color: white;
    color: #B04F2A;
}

.sContent {
    background-color: #253022;
    color: white;
}

#output_temp {
    color: #FF69B4;
}

#arrayOfElements {
    padding: 0px;
    font-size: 12px;
    background-color: #507844;
    border: 1px solid black;
    color: black
}

.tableHeader {
    background-color: yellowgreen;
}