* {
    box-sizing: border-box;
    /* El asterisco al principio significa que el estilo dentro de {} aplica a todos los elementos de la página */
}

.gallery-img {
    display: none;
    max-height: 400px;
}

.active {
    display: block;
}

.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center; /* Alineación horizontal dentro del div */
    align-items: center; /* Alineación vertical dentro del div */
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}

.button {
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer; /* El cursor va a cambiar cuando se está sobre la imagen */
}

.prev {
    margin-right: 15px;
}

.button:disabled {
    background-color: #777;
    cursor: not-allowed; /* Esta propiedad se puede usar sobre cualquier elemento, no únicamente sobre un botón */
}

.swiper-slide {
    text-align: center;
  }
  
img {
    height: 600px;
  }

body {
    padding: 0;
    margin: 0;
}

.main-nav {
    background-color: black;
    color: yellow;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.miquito {
    margin: 0;
    font-size: 50px;
    cursor: grab; /* Muestra el cursor de manita cuando esté sobre el elemento */
    /* 
    Los códigos se tienen que hacer legibles para los distintos navegadores. En algunos casos es necesario agregar lo siguiente para que sea leído por uno u otro navegador. Ej: para que el cursor se muestre igual, en Chrome tocaría incluir lo siguiente: "cursor: -webkit-grab;" mientras que en Firefox "cursor: -moz-grab;". Para este caso no es necesario pues ya ambos lo leen, pero en otros casos, cuando no funcione, se puede intentar probar de esta forma
    */
    z-index: 10; /* Esto es para que no quede detrás de otros elementos */
    position: relative; /* Esto toca agregarlo además de z-index en otros navegadores distintos a Firefox para que funcione */
}
